body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: black;
    height: 8vh;
}
.menu{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    height: 100%;
    font-size: 30px;
}